
#box {
  width: 95%;
  height: 700px;
  margin: auto;
}

.container {
  width: 48%;
  height: 700px;
  float: left;
  background-color: rgba(239,239,239,.5);
  margin: 1%;
  border-radius: 30px;
}

.text-box {
  font-size: 28px;
  text-align: center;
  padding: 50px 20px;
  color: #444444;
  overflow: hidden;
}

.current-info-2 {
  display: inline-block;
  width: 200px;
  height: 250px;
}

.text-box div p:first-of-type {
  font-size: 36px;
  margin: 10px auto;
}

.imgPoP {
  background-position: 0 -448px;
}

.imgUVI {
  background-position: -64px -256px;
}

.imgUVI-night {
  background-position: -384px -256px;
}


#current-temp {
  font-size: 100px;
}


.WxImage {
  width: 64px;
  height: 64px;
  background-image: url("Climacons.png");
  display: inline-block;
  margin-top: 5px;
}

.WxImage0 {
  background-position: -64px -256px;
}

.WxImage1 {
  background-position: -128px 0;
}

.WxImage2 {
  background-position: 0 0;
}

.WxImage3 {
  background-position: -256px 0;
}

.WxImage4 {
  background-position: -320px 0;
}

.WxImage5 {
  background-position: -512px -192px;
}

.WxImage6 {
  background-position: -576px -192px;
}

.WxImage7 {
  background-position: -320px -128px;
}

.WxImage8 {
  background-position: -512px -128px ;
}

.WxImage9 {
  background-position: -576px -128px;
}

.WxImage10 {
  background-position: -320px -320px;
}
